.maincontent
  .maincontent__content.container
    main
      .decor__date
        .decor__day
          p 28
        .decor__month
          p фев
      .content__title
        h1.title Lorem Ipsum is simply dummy text of the printing
      .content__text
        p.content__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
      .content__images
        .main__img#box
          img(src=require("../../img/content/img1.png"), alt="img1").img__item-pic-active
        ul.img__list#items
          li.img__item
            img(src=require("../../img/content/img1.png"), alt="img1").img__item-pic
          li.img__item
            img(src=require("../../img/content/img2.jpg"), alt="img2").img__item-pic
          li.img__item
            img(src=require("../../img/content/img3.jpg"), alt="img3").img__item-pic
          li.img__item
            img(src=require("../../img/content/img4.jpg"), alt="img4").img__item-pic
      .content__text
        p.content__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
    aside
      .aside__title
        h2.menu__title Интересное
      .aside__content
        ul.btn__list
          li.btn__item.btn__item_fashion#fashion  
            h3.btn__title Мода
          li.btn__item.btn__item_cinema.active#cinema 
            h3.btn__title Кино
          li.btn__item.btn__item_tv#tv  
            h3.btn__title TV
      .aside__desc#desc
        ul.aside__list#fashion-list
          li.aside__item
            .aside__img
              img(src=require("../../img/content/img6.jpg"), alt="img6").aside__img-pic
            .aside__description
              h3.aside__subtitle Lorem Ipsum is simply dummy text of the printing 
              p.aside__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
          li.aside__item
            .aside__img
              img(src=require("../../img/content/img6.jpg"), alt="img6").aside__img-pic
            .aside__description
              h3.aside__subtitle Lorem Ipsum is simply dummy text of the printing 
              p.aside__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
          li.aside__item
            .aside__img
              img(src=require("../../img/content/img6.jpg"), alt="img6").aside__img-pic
            .aside__description
              h3.aside__subtitle Lorem Ipsum is simply dummy text of the printing 
              p.aside__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        ul.aside__list.active#cinema-list
          li.aside__item
            .aside__img
              img(src=require("../../img/content/img5.png"), alt="img5").aside__img-pic
            .aside__description
              h3.aside__subtitle Lorem Ipsum is simply dummy text of the printing 
              p.aside__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
          li.aside__item
            .aside__img
              img(src=require("../../img/content/img5.png"), alt="img5").aside__img-pic
            .aside__description
              h3.aside__subtitle Lorem Ipsum is simply dummy text of the printing 
              p.aside__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
          li.aside__item
            .aside__img
              img(src=require("../../img/content/img5.png"), alt="img5").aside__img-pic
            .aside__description
              h3.aside__subtitle Lorem Ipsum is simply dummy text of the printing 
              p.aside__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        ul.aside__list.aside__list#tv-list
          li.aside__item
            .aside__img
              img(src=require("../../img/content/img7.jpg"), alt="img7").aside__img-pic
            .aside__description
              h3.aside__subtitle Lorem Ipsum is simply dummy text of the printing 
              p.aside__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
          li.aside__item
            .aside__img
              img(src=require("../../img/content/img7.jpg"), alt="img7").aside__img-pic
            .aside__description
              h3.aside__subtitle Lorem Ipsum is simply dummy text of the printing 
              p.aside__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
          li.aside__item
            .aside__img
              img(src=require("../../img/content/img7.jpg"), alt="img7").aside__img-pic
            .aside__description
              h3.aside__subtitle Lorem Ipsum is simply dummy text of the printing 
              p.aside__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      .aside__guest
        .aside__title.aside__title_interest
          h2.menu__title Понравилось посетителям
        ul.guest__list
          li.guest__item
            .guest__ava
              img(src=require("../../img/content/ava.png"), alt="ava").guest__ava-pic
            .guest__description
              p.guest__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              a(href="#").guest__link Medication »
          li.guest__item
            .guest__ava
              img(src=require("../../img/content/ava.png"), alt="ava").guest__ava-pic
            .guest__description
              p.guest__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              a(href="#").guest__link Medication »
          li.guest__item
            .guest__ava
              img(src=require("../../img/content/ava.png"), alt="ava").guest__ava-pic
            .guest__description
              p.guest__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              a(href="#").guest__link Medication »
          li.guest__item
            .guest__ava
              img(src=require("../../img/content/ava.png"), alt="ava").guest__ava-pic
            .guest__description
              p.guest__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              a(href="#").guest__link Medication »
            


